[global]
server_name = "{{matrix_server_name}}"

# This is the only directory where Conduit will save its data
database_path = "{{conduit_db_path}}"

# The port Conduit will be running on. You need to set up a reverse proxy in
# your web server (e.g. apache or nginx), so all requests to /_matrix on port
# 443 and 8448 will be forwarded to the Conduit instance running on this port
port = {{conduit_port}}

# Max size for uploads
max_request_size = {{conduit_max_req_bytes}}

# Enables registration. If set to false, no users can register on this server.
allow_registration = {{matrix_allow_registration}}

# Disable encryption, so no new encrypted rooms can be created
# Note: existing rooms will continue to work
allow_encryption = {{matrix_allow_encryption}}
allow_federation = {{matrix_allow_federation}}

trusted_servers = {{matrix_trusted_servers | to_json}}

#max_concurrent_requests = 100 # How many requests Conduit sends to other servers at the same time
#workers = 4 # default: cpu core count * 2

address = {{conduit_bind_address}}

# The total amount of memory that the database will use.
#db_cache_capacity_mb = 200
